{% load static %}


<aside class="grid-col grid-col-3 sidebar">

    <!-- follow widget -->
    {% include 'snippet/follow_and_sub.html' %}
    <!-- follow widget -->

    <hr class="divider-green">
    <!-- categories widget -->
    <div id="categories" class="widget widget_categories">
        <div class="widget-title">Services Categories</div>
        <ul>
            {% for service in services %}
            <li class="cat-item cat-item-1">
                <a href="{% url "home:service_detail" service.slug %}">{{ service.h1 }}</a> 

            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- categories widget -->
    <hr class="divider-green">

    <!-- recent comments widget -->
    <div class="widget widget-recent-comments clear">
        <div class="widget-title">Testimonials</div>
        <div class="carousel-nav">
            <div class="carousel-button">
                <div class="prev"><i class="fa fa-chevron-left"></i></div>
                <div class="next"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
        <div id="recent-comments" class="owl-carousel owl-widget">
            {% for group in testimonial_groups %}
                <ul>
                    {% for testimonial in group %}
                        <li>
                            <p><strong>{{ testimonial.name }}</strong></p>
                            {% comment %} <p><strong>{{ testimonial.name }}</strong> ({{ testimonial.role }})</p> {% endcomment %}
                            <p>{{ testimonial.testimonial }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        
    </div>
    <!-- recent comments widget -->
    <hr class="divider-green">
    <!-- text widget -->
    <!-- text widget -->
    <!-- recent post widget -->
    <div class="widget widget-recent-posts">
        <div class="widget-title">Recent Posts</div>
        <div class="carousel-nav">
            <div class="carousel-button">
                <div class="prev"><i class="fa fa-chevron-left"></i></div>
                <div class="next"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
        <div id="recent-posts-carousel" class="owl-carousel owl-widget">
            {% for slide in recent_post_slides %}
                <div>
                    {% for post in slide %}
                        <div class="recent-post-item clear">
                            <div class="recent-post-icon">
                                <div class="border-img">
                                    <a href="{% url 'blog:blog-single-post' post.slug %}">
                                        <div class="window-tabs">
                                            <div class="overflow-block"></div>
                                            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <p>{{ post.title|truncatechars:50 }}</p>
                            <p>{{ post.published|date:"d.m.Y" }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <hr class="divider-green">
    </div>
    <!-- recent post widget -->
    <!-- archives widget -->
    {% comment %} <div id="archives" class="widget widget_archive">
        <div class="widget-title">Archives</div>
        <ul>
            <li><a href="http://wp.com/?m=201612">July</a></li>
            <li><a href="http://wp.com/?m=201612">August</a></li>
            <li><a href="http://wp.com/?m=201612">September</a></li>
            <li><a href="http://wp.com/?m=201612">October</a></li>
            <li><a href="http://wp.com/?m=201612">November</a></li>
            <li><a href="http://wp.com/?m=201612">December</a></li>
        </ul>
    </div> {% endcomment %}
    <!-- archives widget -->

    <!-- widget calendar -->
    <!--/ widget calendar -->
    <!-- meta widget -->
    <!-- meta widget -->
    <!-- widget twitter -->
    <!--/ widget twitter -->
    <!-- tags widget -->
    <!-- tags widget -->
    

</aside>