{% load static %}


<div id="text-3" class="widget widget_text">
    <div class="widget-title">Follow & subscribe</div>
    <div class="textwidget">
        <div class="follow-icon">
            <a href="#"><div class="contact-round blue-follow-icon"><i class="fa fa-twitter"></i></div></a>
            <a href="#"><div class="contact-round hot-follow-icon"><i class="fa fa-rss"></i></div></a>
            <a href="#"><div class="contact-round blue-follow-icon"><i class="fa fa-skype"></i></div></a>
            <a href="#"><div class="contact-round red-follow-icon"><i class="fa fa-youtube"></i></div></a>
            <a href="#"><div class="contact-round blue-follow-icon"><i class="fa fa-facebook"></i></div></a>
        </div>
    </div>
</div>