# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log

# Virtual environment
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Static & media (optional, if you don't want to track them)
staticfiles/
media/
