{% extends 'base2.html' %}
{% load static %}
{% block body %}
<body class="blog-page pc">
	{% include 'snippet/header.html' %}
	<div class="top-bg">
		
    	<img src="{% static 'img/splash-top.png' %}" class="splash-top" alt>
		<div class="page-title zoomIn animated">Blog</div>
	</div>

			<!-- page content -->
			<div class="page-content">
				<div class="grid-row clear">
					<div class="grid-col-row">
						<div class="grid-col grid-col-9">
							<div id="content" role="main">
								<div class="clear">
									<div class="title">
										<span class="main-title">{{blog.title}}</span>
									</div>
									<div class="post-info clear">
										<span><i class="fa fa-calendar"></i> {{blog.published}}</span>
										<span><i class="fa fa-edit"></i> {{blog.author}}</span>
									</div>
									<div class="pf-single-carousel">
										<div id="pf-single-carousel" class="owl-carousel">
											<div><img src="{{blog.image.url}}" alt=""></div>

										</div>
									</div>
									<dl>
										<dt><strong>Suspendisse interdum tortor augue, in tempus urna ultricies</strong></dt>
											<dd>Vivamus fringilla eu nisl non laoreet. Nunc nec faucibus arcu, quis pretium odio. Nullam non turpis imperdiet, venenatis felis id, fermentum urna.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor velit non lacus venenatis pellentesque. Nam convallis nisl vel consectetur sagittis. Etiam cursus adipiscing purus id aliquet. Nulla sit amet tortor eget est ornare interdum.</dd>
										<dt><strong>Praesent varius justo ac rhoncus convallis. Aenean congue</strong></dt>
											<dd>Sed malesuada dapibus ante, ac rhoncus risus dictum sed. Suspendisse et lorem porttitor libero aliquet commodo eu non massa. Morbi tincidunt dapibus augue id tempus. Ut massa enim, vestibulum eu volutpat ut, consectetur sed mauris. Nam mauris metus, rutrum sed fringilla eu, rutrum vitae felis.</dd>
									</dl>
									<div class="follow-subscribe-icon clear">
									</div>
								</div>

								{% if comments %}
								<hr />
								<div class="comments">
									<div id="comments">
										<div class="title">
											<span class="main-title">COMMENTS</span>
											<span class="slash-icon">/<i class="fa fa-angle-double-right"></i></span><h5>YOUR IDEAS</h5>
										</div>
										<ol class="commentlist">
											{% for comment in comments %}
											<li class="comment">
												<div class="comment_container clear">
													<img src="{% static 'images/team/img-team-1.jpg' %}" alt="" class="avatar">
													<div class="comment-text">
														<p class="meta">
															<strong>{{ comment.name }}</strong>
															<time datetime="{{ comment.created_at|date:'c' }}">/ {{ comment.created_at|date:"F j, g:i a" }}</time>
														</p>
														<div class="description">
															<p>{{ comment.body }}</p>
														</div>
													</div>
												</div>
											</li>
											{% endfor %}
										</ol>
									</div>
								</div>
								{% endif %}
								<hr />
								<div class="leave-reply">
									<div class="title">
										<span class="main-title">LEAVE A REPLY</span>
										<span class="slash-icon">/<i class="fa fa-angle-double-right"></i></span>
									</div>
									<form class="message-form clear" method="post" action="{% url 'blog:blog-single-post' slug=blog.slug %}">
										{% csrf_token %}
										
										<p class="message-form-author">
											<label for="name">Your Name <span class="required">*</span></label><br>
											<input id="name" name="name" type="text" value="" size="30" aria-required="true">
										</p>
									
										<p class="message-form-email">
											<label for="email">Your E-mail <span class="required">*</span></label><br>
											<input id="email" name="email" type="text" value="" size="30" aria-required="true">
										</p>
									
										<p class="message-form-message" style="clear: both; display: block; width: 100%; margin-top: 20px;">
											<label for="body" style="display: block; margin-bottom: 5px;">Your Message</label>
											<textarea id="body" name="body" cols="45" rows="8" aria-required="true" style="width: 95%;"></textarea>
										</p>
										
									
										<p class="form-submit rectangle-button green medium">
											<input name="submit" type="submit" id="submit" value="Send">
										</p>
									</form>
									
								</div>
							</div>
						</div>
					</div>
					<!-- sidebar -->
					{% include 'snippet/aside_blog.html' %}
					<!-- sidebar -->
				</div>
			</div>
			<!--/ page content -->
			{% include 'snippet/sub.html' %}

{% include 'snippet/footer2.html' %}
	{% endblock body %}
