{% extends 'base2.html' %}
{% load static %}
{% block body %}
<body class="blog with-sidebar pc">
	<!-- page header -->
	{% include 'snippet/header.html' %}
	<!--/ page header  -->
	<div class="top-bg">
		
    	<img src="{% static 'img/splash-top.png' %}" class="splash-top" alt>
		<div class="page-title zoomIn animated">blog</div>
	</div>

	<!-- page content -->
	<div class="page-content">
		<div class="grid-row clear">
			<div class="grid-col-row">
				<div class="grid-col grid-col-9">
					<div id="content" role="main">
						<div class="title">
							<span class="main-title">BLOG</span>
							<span class="slash-icon">/<i class="fa fa-angle-double-right"></i></span><h5 style="text-transform: uppercase;">{{ category }}</h5>

						</div>
    
    {% for blog in page_obj %}
    <div class="item clear">
        <div class="media-block">
            <div class="picture">
                <div class="hover-effect"></div>
                <div class="link-cont">
                    <a href="#" class="cws-slide-left fa fa-share-alt" 
                       onclick="shareContent(event, '{% url "blog:blog-single-post" blog.slug %}', '{{ blog.title|escapejs }}'); event.stopPropagation();"></a>
                    <a href="#" class="cws-slide-right fa fa-heart heart-icon" data-blog-slug="{{ blog.slug }}" onclick="toggleHeart(event); event.stopPropagation();"></a>
                </div>
                <!-- Image wrapped in anchor tag -->
                <a href="{% url 'blog:blog-single-post' blog.slug %}">
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                </a>
            </div>
        </div>
        <div class="date">{{ blog.published|date:"d F" }}</div>
        <div class="item-header">
            <h3>{{ blog.title }}</h3>
        </div>
        <div class="content">
            <p>{{ blog.description }}</p>
        </div>
        <div class="post-info clear">
            <span><i class="fa fa-calendar"></i>{{ blog.published|date:"d M Y" }}</span>
            <span><i class="fa fa-edit"></i> {{ blog.author }}</span>
            <a class="button" href="{% url 'blog:blog-single-post' blog.slug %}" onclick="event.stopPropagation();">/ READ MORE</a>
        </div>
    </div>
    
    {% empty %}
    <div class="no-posts">
        <p>No posts found in this category.</p>
    </div>
    {% endfor %}
    {% include 'snippet/pagination.html' %}
						<!-- blog item music -->
					</div>
				</div>
			</div>
			
			{% include 'snippet/aside_blog.html' %}
		</div>
	</div>
	<!--/ page content -->
	<!-- subscribe -->
	{% include 'snippet/sub.html' %}
	<!--/ subscribe  -->
	<!-- page footer  -->
	{% include 'snippet/footer2.html' %}
    {% endblock body %}