{% extends 'base2.html' %}
{% load static %}
{% block body %}
<body class="portfolio-columns two pc">
  <!-- page header -->
  {% include 'snippet/header.html' %}
  <!--/ page header -->
  <div class="top-bg">
    
    <img src="{% static 'img/splash-top.png' %}" class="splash-top" alt>
    <div class="page-title zoomIn animated">portfolio</div>
  </div>
  <!-- page content -->
  <section id="portfolio" class="portfolio">
    <div class="grid-row">
      <div class="portfolio-filter clear">
        <div class="title">
          <a href="#" class="all-iso-item active" data-filter=".item">ALL</a>
          <span class="main-title">PORTFOLIO</span>
          <span class="slash-icon">/</span>
          {% for cat in categories %}
            <a href="#" data-filter=".{{ cat.name|slugify }}">{{ cat.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-col-row">
        <div class="isotope portfolio-three-columns">
          {% for image in images %}
          {% if image.category.name|lower == "website" and image.link %}
            <div class="item {{ image.category.name|slugify }}">
              <a href="{{ image.link }}" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-info">
                      <div class="portfolio-title">{{ image.title }}</div>
                    </a>
                  {% else %}
                  <div class="item {{ image.category.name|slugify }}">
                  <div class="portfolio-hover">
                    <div class="portfolio-info">
                    <div class="portfolio-title">{{ image.title }}</div>
                  {% endif %}
                  <div class="portfolio-divider"></div>
                  <div class="portfolio-description">{{ image.description }}</div>
                </div>
              </div>
              <img src="{{ image.image.url }}" alt="{{ image.title }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--/ page content -->
  <!-- subscribe -->
  {% include 'snippet/sub.html' %}
  <!--/ subscribe -->
  <!-- page footer -->
  {% include 'snippet/footer2.html' %}
  <!--/ page footer -->
  {% endblock body %}